.dropdownlist {
    position: relative;
    display: inline-block;
  }
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown_content li {
    color: black;
    padding: 0.125rem 0;
    padding-right: 3.125rem;
    text-decoration: none;
    display: block;
  }
  .dropdownlist:hover .dropdown_content {
    display: block;
  }