body{
    background-image: url(../resource/paper_w.jpg);
}
.form .title{
    text-align: center;
}
.form .form_item{ 
    width: 100%;
    border: solid 0.125rem;
    border-radius: 0.45rem;
}
.form input[type="submit"]{
    background: linear-gradient( to right, #fcff47 5%, #c29b1a 60%);
}
.form .form_other{
    color: blue;
}
.form .form_otherfunction{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
@media(min-width: 1200px) and (max-width: 1799.99px){
    .form .container{
        padding: 1.8rem 3.2rem 3.6rem 3.2rem;
    }
    .form .title{
        padding-bottom: 1.2rem;
        font-size: 4.625rem;
    }
    .form .form_item{
        margin-bottom: 0.4rem;
        padding: 0.1rem 1.225rem;
        font-size: 3.25rem;
    }
    .form .form_checkbox{
        margin-bottom: 0.4rem;
        padding: 0 1.225rem;
    }
    .form .form_checkbox input{
        width: 2.25rem;
        height: 2.25rem;
    }
    .form .form_checkbox label{
        font-size: 3.25rem;
    }
    .form .form_other{
        font-size: 2.25rem;
    }
    .form .introduce{
        font-size: 2.25rem;
        padding-bottom: 0.95rem;
    }
    .form .button{
        margin: 0 auto;
        padding: 0.25rem auto;
        width: 20rem;
        font-size: 2.25rem;
    }
}
@media(min-width: 900px) and (max-width: 1199.99px){
    .form .container{
        padding: 1.8rem 3.2rem 3.6rem 3.2rem;
    }
    .form .title{
        padding-bottom: 1.2rem;
        font-size: 4.625rem;
    }
    .form .form_item{
        margin-bottom: 0.4rem;
        padding: 0.1rem 1.225rem;
        font-size: 3.25rem;
    }
    .form .form_checkbox{
        margin-bottom: 0.4rem;
        padding: 0 1.225rem;
    }
    .form .form_checkbox input{
        width: 2.25rem;
        height: 2.25rem;
    }
    .form .form_checkbox label{
        font-size: 3.25rem;
    }
    .form .form_other{
        font-size: 2.25rem;
    }
    .form .introduce{
        font-size: 2.25rem;
        padding-bottom: 0.95rem;
    }
    .form .button{
        margin: 0 auto;
        padding: 0.25rem auto;
        width: 20rem;
        font-size: 2.25rem;
    }
}
@media(min-width: 600px) and (max-width: 899.99px){
    .form .container{
        padding: 1.8rem 3.2rem 3.6rem 3.2rem;
    }
    .form .title{
        padding-bottom: 1.2rem;
        font-size: 4.625rem;
    }
    .form .form_item{
        margin-bottom: 0.4rem;
        padding: 0.1rem 1.225rem;
        font-size: 3.25rem;
    }
    .form .form_checkbox{
        margin-bottom: 0.4rem;
        padding: 0 1.225rem;
    }
    .form .form_checkbox input{
        width: 2.25rem;
        height: 2.25rem;
    }
    .form .form_checkbox label{
        font-size: 3.25rem;
    }
    .form .form_other{
        font-size: 2.25rem;
    }
    .form .introduce{
        font-size: 2.25rem;
        padding-bottom: 0.95rem;
    }
    .form .button{
        margin: 0 auto;
        padding: 0.25rem auto;
        width: 20rem;
        font-size: 2.25rem;
    }
}
@media(max-width: 599.99px){
    .form .container{
        padding: 1.8rem 1.5rem 1.2rem 1.5rem;
    }
    .form .title{
        padding-bottom: 1.2rem;
        font-size: 1.625rem;
    }
    .form .form_item{
        margin-bottom: 0.4rem;
        padding: 0.75rem 1.225rem;
        font-size: 1.25rem;
    }
    .form .form_checkbox{
        margin-bottom: 0.4rem;
        padding: 0 1.225rem;
        font-size: 1.15rem;
    }
    .form .introduce{
        font-size: 1.05rem;
        padding-bottom: 0.95rem;
    }
    .form .button{
        margin: 0 auto;
        padding: 0.25rem auto;
        width: 10rem;
    }
}