.fix_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.center{
    margin: 0 auto;
}
.underline{
    border-bottom: solid 0.125rem;
}
.text_center{
    text-align: center;
}
.button{
    display: block;
    border: solid 0.125rem;
    text-align: center;
}

.invisible{
    display: none;
}
.login_invisible{
    display: none !important;
}

.text-sm{
    font-size: 0.75rem;
}
.text-base{
    font-size: 1.25rem;
}
.text-l{
    font-size: 2.25rem;
}
.text-xl{
    font-size: 4.25rem;
}