:root{
    --r-nav-height: 75px;
    --r-localnav-stacked-height: 66px;

    --r-xl-viewport-width: 1176px;
    --r-l-viewport-width: 976px;
    --r-m-viewport-width: 756px;
    --r-s-viewport-width: 564px;
    --r-xs-viewport-width: 300px;

    --r-s-viewpoint-min-width:300px;
}