:root{
    --r-localnav-height: 75px;
    --r-localnav-stacked-height: 66px;

    --r-xl-viewport-width: 1176px;
    --r-l-viewport-width: 976px;
    --r-m-viewport-width: 756px;
    --r-s-viewport-width: 564px;
    --r-xs-viewport-width: 300px;
}

body{
    background-image: url("../resource/paper_w.jpg");
}
nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: var(--r-localnav-height);
}
nav .container{
    display: flex;
    align-items: center;
    width: 100%;
}
#menu-control{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
#menu-control:checked ~ nav .nav{
    opacity: 1;
}

@media(max-width: 575.99px){
    nav > .container{
        padding: 0 30px;
    }
    nav .logo{
        margin-right: auto;
        font-size: 40px;
        font-weight: 600;
    }
    nav label{
        order: 1;
        position: relative;
        margin-left: 20px;
        font-size: 24px;
    }
    nav .nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: var(--r-localnav-height);
        right: 0;
        width: 100%;
        min-height: calc(100vh - var(--r-localnav-height));
        background-color: #0e0e0f;
        opacity: 0;
        transition: .5s;
    }
    #main-nav > li > a{
        display: block;
        font-size: 20px;
    }
    #main-nav ul{
        background-color: red;
    }
    #main-nav a{
        color: white;
    }
    #user-nav{
        order: -1;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
    }
    #user-nav a{
        color: white;
    }
    #menu-control:checked ~ nav #main-nav{
        opacity: 1;
    }
}
@media(min-width: 576px) and (max-width: 991.99px){
    nav > .container{
        padding: 0 30px;
    }
    nav .logo{
        margin-right: auto;
        font-size: 40px;
        font-weight: 600;
    }
    nav label{
        order: 1;
        position: relative;
        margin-left: 20px;
        font-size: 24px;
    }
    nav .nav{
        display: flex;
    }
    #main-nav{
        position: absolute;
        top: var(--r-localnav-height);
        right: 0;
        width: 100%;
        min-height: calc(100vh - var(--r-localnav-height));
        background-color: #0e0e0f;
        opacity: 0;
        transition: .5s;
    }
    #main-nav > li > a{
        display: block;
        font-size: 20px;
    }
    #main-nav ul{
        background-color: red;
    }
    #main-nav a{
        color: white;
    }
    nav #user-nav{
        display: flex;
        font-size: 20px;
    }
    nav #user-nav li{
        margin-left: 20px;
    }
    #menu-control:checked ~ nav #main-nav{
        opacity: 1;
    }
}
@media(min-width: 992px) and (max-width: 1199.99px){
    nav > .container{
        padding: 0 40px;
    }
    nav .logo{
        margin-right: 20px;
        font-size: 40px;
        font-weight: 600;
    }
    nav label{
        display: none;
    }
    nav .nav{
        display: flex;
        flex-grow: 1;
    }
    #main-nav{
        display: flex;
        justify-content: flex-start;
        margin-right: auto;
        font-size: 20px;
    }
    #main-nav > li{
        position: relative;
        margin-right: 10px;
    }
    #main-nav > li:hover > ul{
        opacity: 1;
    }
    #main-nav ul{
        position: absolute;
        opacity: 0;
        transition: .5s;
    }
    nav #user-nav{
        display: flex;
        font-size: 20px;
    }
    nav #user-nav li{
        margin-left: 20px;
    }
}
@media(min-width: 1200px){
    nav > .container{
        padding: 0 60px;
    }
    nav .logo{
        margin-right: 30px;
        font-size: 50px;
        font-weight: 600;
    }
    nav label{
        display: none;
    }
    nav .nav{
        display: flex;
        flex-grow: 1;
    }
    #main-nav{
        display: flex;
        justify-content: flex-start;
        margin-right: auto;
        font-size: 30px;
    }
    #main-nav > li{
        position: relative;
        margin-right: 10px;
    }
    #main-nav > li:hover > ul{
        opacity: 1;
    }
    #main-nav ul{
        position: absolute;
        opacity: 0;
        transition: .5s;
    }
    nav #user-nav{
        display: flex;
        font-size: 30px;
    }
    nav #user-nav li{
        margin-left: 20px;
    }
}


.login-invisible{
    display: none !important;
}
.login-invisible{
    display: none !important;
}
