body{
    background-image: url("../resource/paper_w.jpg");
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--r-nav-height);
}
nav > .container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 95%;
    min-width: 300px;
}
nav .logo{
    margin-right: auto;
    font-size: 2rem;
    font-weight: 600;
}
nav .login-button{
    padding: .3rem .6rem;
    border: 2px solid #83fa4c;
    border-radius: 20px;
    font-size: 1rem;
    white-space: nowrap;
}
nav .toggle{
    margin-left: 5%;
    padding: .3rem .8rem;
    border-radius: 20%;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: black;
    color: yellow;
}
nav #main-nav ul{
    display: none;
}

@media(max-width: 767.88px){
    nav .nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: var(--r-nav-height);
        right: 0;
        width: 100%;
        height: calc(100vh - var(--r-nav-height));
        background-color: black;
        opacity: 0;
        transition: .5s;
    }
    #main-nav{
        margin: .2rem auto 0;
        width: 95%;
    }
    #main-nav > li > a{
        font-size: 1.6rem;
    }
    #main-nav .js-dropdown > a{
        position: relative;
    }
    #main-nav .js-dropdown > a::after{
        position: absolute;
        top: 1.2rem;
        right: -1.6rem;
        content: "";
        width: 0;
        height: 0;
        border-top: .8rem solid #fff;
        border-left: .6rem solid transparent;
        border-right: .6rem solid transparent;
        transform: translateY(-100%);
    }
    #main-nav a{
        font-size: 1.2rem;
    }
    #user-nav{
        display: flex;
        justify-content: space-around;
        order: -1;
        margin: 0 auto;
        padding: .4rem 0;
        border-bottom: 1px solid #131313;
        width: 95%;
    }
    #user-nav li{
        width: 2.4rem;
        height: 2.4rem;
        line-height: 2.4rem;
        border-radius: 50%;
        background-color: #f8f52b;
        text-align: center;
    }
    #user-nav a{
        font-size: 1.2rem;
        color: black;
    }
    .nav a{
        color: white;
    }
}
@media(min-width: 767.89px) and (max-width: 1199.88px){
    nav #main-nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: var(--r-nav-height);
        right: 0;
        width: 35%;
        height: calc(100vh - var(--r-nav-height));
        background-color: black;
        opacity: 0;
        transition: .5s;
    }
    #main-nav > li > a{
        font-size: 1.6rem;
    }
    #main-nav .js-dropdown > a{
        position: relative;
    }
    #main-nav .js-dropdown > a::after{
        position: absolute;
        top: 1.2rem;
        right: -1.6rem;
        content: "";
        width: 0;
        height: 0;
        border-top: .8rem solid #fff;
        border-left: .6rem solid transparent;
        border-right: .6rem solid transparent;
        transform: translateY(-100%);
    }
    #main-nav a{
        font-size: 1.2rem;
    }
    nav #user-nav{
        display: flex;
    }
    #user-nav li{
        margin-left: 15px;
    }
    #user-nav li a{
        font-size: 30px;
        color: black;
    }
    .nav a{
        color: white;
    }
}
@media(min-width: 1199.89px){
    nav .logo{
        font-size: 3.6rem;
        margin-right: 2%;
    }
    nav .nav{
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    nav .toggle{
        display: none;
    }
    nav #main-nav{
        display: flex;
        margin-right: auto;
    }
    #main-nav li{
        margin-right: 2rem;
    }
    #main-nav > li > a{
        font-size: 1.6rem;
    }
    #main-nav .js-dropdown > a{
        position: relative;
    }
    #main-nav .js-dropdown > a::after{
        position: absolute;
        top: 1rem;
        right: -1rem;
        content: "";
        width: 0;
        height: 0;
        border-top: .6rem solid black;
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        transform: translateY(-100%);
    }
    #main-nav .js-dropdown ul{
        position: absolute;
    }
    #main-nav a{
        font-size: 1.2rem;
    }
    nav #user-nav{
        display: flex;
    }
    #user-nav li{
        margin-left: 15px;
    }
    #user-nav li a{
        font-size: 1.6rem;
        color: black;
    }
}