.form{
    display: flex;
    justify-content: center;
}
.form .container{
    border: 3rem;
    padding: 5rem;
    /* border: 2px solid #b6b6b6; */
    min-width: 500px;
    /* box-shadow: 10px 10px 5px #d3d3d3; */
}
.form .question{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
.form .question span{
    margin: 1rem 0;
    font-size: 1.6rem;
    color: #696969;
}
.form .question .answer{
    margin: 1rem 0;
    font-size: 1.6rem;
}
.form .question .upload_zone {
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    border: 10px solid #696969;
    border-radius: 20px;
    cursor: pointer;
}
.form .question .upload_zone_enter {
    border: 10px dashed black;
    background-clip: content-box;
}
.preview_image {
    width: 200px;
    height: 200px;
}
.form .rb-group{
    display: flex;
    width: 100%;
}
.form .rb-group label{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 6rem;
}
.form .rb-group input{
    margin-right: .4rem;
}
.form .rb-group span{
    flex-grow: 1;
    text-align: start;
}

input[type="text"], select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #b6b6b6;
    text-align: center;
    outline: none;
}
input[type="file"]{
    display: none;
}

.hide{
    display: none;
}