.form{
    display: flex;
    justify-content: center;
}
.form .container{
    padding: 4rem 0 10rem;
    min-width: 500px;
}
.form .question{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
    font-size: 1.6rem;
}
.form .question span{
    margin-bottom: 2rem;
    color: #696969;
}
form .question .rb-group{
    display: flex;
    width: 100%;
}
.form .rb-group label{
    flex-grow: 1;
    margin: 0 6rem;
}
.form .question .upload_zone {
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    border: 5px solid #696969;
    border-radius: 20px;
    cursor: pointer;
}

.table{
    display: flex;
    flex-direction: column;
    border: 1px solid #696969;
}
.table .title{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #696969;
    padding: .2rem .4rem;
    background-color: #abd8d6;
}
.table .row{
    display: flex;
    justify-content: space-around;
    padding: .2rem .4rem;
}
.table .js-add-row{
    order: 100;
    padding: .2rem .4rem;
}

input[type="text"], select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #b6b6b6;
    text-align: center;
    font-size: 1.6rem;
    outline: none;
}
input[type="file"]{
    display: none;
}
.hide{
    display: none;
}