:root{
    --r-localnav-height: 75px;
    --r-localnav-stacked-height: 66px;

    --r-xl-viewport-width: 1176px;
    --r-l-viewport-width: 976px;
    --r-m-viewport-width: 756px;
    --r-s-viewport-width: 564px;
    --r-xs-viewport-width: 300px;
}

body > input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    height: var(--r-localnav-height);
}
nav #main-nav{
    margin-right: auto;
}
nav #main-nav > li{
    position: relative;
}
nav #main-nav > li:hover ul{
    display: block;
}
nav #main-nav ul{
    display: none;
    position: absolute;
}
nav #user-nav{
    justify-content: flex-end;
}
nav .login_button{
    margin-left: auto;
    border: solid 0.125rem;
    border-radius: 1.725rem;
}
nav .login_button .container{
    padding: 0.25rem 1.125rem;
}
nav .login_button:hover{
    border-radius: 1.725rem;
    background-color: #ffcc00e0;
    transition:background-color .5s;
}

@media(max-width: 575.99px){
    nav{
        max-width: var(--r-xs-viewport-width);
    }
    nav .logo{
        margin-right: 20px;
        font-size: 40px;
        font-weight: 600;
    }
    nav #main_nav{
        display: none;
    }
    nav #user_nav{
        display: none;
    }
    nav .toggle_button{
        padding-left: 1.125rem;
        font-size: 2.25rem;
    }
}
@media(min-width: 1200px){
    nav{
        max-width: var(--r-xl-viewport-width);
    }
    nav .logo{
        margin-right: 40px;
        font-size: 50px;
        font-weight: 600;
    }
    nav #main-nav > li{
        margin-right: 20px;
        font-size: 20px;
        font-weight: 400;
    }
    nav #user-nav li{
        margin-left: 30px;
        font-size: 20px;
        font-weight: 400;
    }
    nav .toggle_button{
        display: none;
    }
}
@media(min-width: 992px) and (max-width: 1199.99px){
    nav{
        max-width: var(--r-l-viewport-width);
    }
    nav .logo{
        margin-right: 40px;
        font-size: 50px;
        font-weight: 600;
    }
    nav #main-nav > li{
        margin-right: 20px;
        font-size: 20px;
        font-weight: 400;
    }
    nav #user-nav li{
        margin-left: 30px;
        font-size: 20px;
        font-weight: 400;
    }
    nav .toggle_button{
        display: none;
    }
}
@media(min-width: 768px) and (max-width: 991.99px){
    nav{
        max-width: var(--r-m-viewport-width);
    }
    nav .logo{
        margin-right: 20px;
        font-size: 40px;
        font-weight: 600;
    }
    nav #main-nav{
        display: none;
    }
    nav #user-nav li{
        margin-left: 20px;
        font-size: 30px;
        font-weight: 400;
    }
    nav .toggle_button{
        font-size: 30px;
        margin-left: 20px;
    }
}
@media(min-width: 576px) and (max-width: 767.99px){
    nav{
        max-width: var(--r-s-viewport-width);
    }
    nav .logo{
        margin-right: 20px;
        font-size: 40px;
        font-weight: 600;
    }
    nav #main-nav{
        display: none;
    }
    nav #user-nav >li{
        padding: 0 0.325rem;
        font-size: 3.25rem;
    }
    nav .login_button a{
        font-size: 1.75rem;
    }
    nav .toggle_button{
        padding-left: 2.125rem;
        font-size: 3.25rem;
    }
}


body{
    background-image: url("../resource/paper_w.jpg");
}
header {
    background-size: cover;
    min-height: 100vh;
}
header .container{
    margin: auto;
    padding-top: var(--r-localnav-height);
}
@media(min-width: 1200px){
    header{
        background-image: url("../resource/homepage.jpg");
    }
    header .container{
        min-width: var(--r-xl-viewport-width);
    }
    header .masthead_heading{
        padding-top: 160px;
        font-size: 60px;
        font-weight: 500;
    }
    header .masthead_subdeading{
        margin-top: 20px;
        padding-right: 45%;
        font-size: 20px;
    }
}
@media(min-width: 992px) and (max-width: 1199.99px){
    header{
        background-image: url("../resource/homepage.jpg");
    }
    header .container{
        max-width: var(--r-l-viewport-width);
    }
    header .masthead_heading{
        padding-top: 160px;
        font-size: 60px;
        font-weight: 500;
    }
    header .masthead_subdeading{
        margin-top: 20px;
        padding-right: 45%;
        font-size: 20px;
    }
}
@media(min-width: 768px) and (max-width: 991.99px){
    header{
        background-image: url("../resource/homepage_mobile.jpg");
    }
    header .container{
        max-width: var(--r-m-viewport-width);
    }
    header .masthead_heading{
        padding-top: 160px;
        font-size: 60px;
        font-weight: 500;
    }
    header .masthead_subdeading{
        margin-top: 20px;
        padding-right: 45%;
        font-size: 20px;
    }
}
@media(min-width: 576px) and (max-width: 767.99px){
    header{
        background-image: url("../resource/homepage_mobile.jpg");
    }
    header .masthead_heading{
        text-align: center;
        padding-bottom: calc(100% * 0.025);
        font-size: calc(var(--text-xl) * 0.8);
    }
    header .masthead_subdeading{
        text-align: center;
        font-size: calc(var(--text-l) * 0.8);
    }
}
@media(max-width: 575.99px){
    header{
        background-image: url("../resource/homepage_mobile.jpg");
    }
    header .masthead_heading{
        text-align: center;
        padding-bottom: calc(100% * 0.025);
        font-size: calc(var(--text-xl) * 0.4);
    }
    header .masthead_subdeading{
        text-align: center;
        font-size: calc(var(--text-l) * 0.4);
    }
}