.form-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
}
.no-border-button{
    color:blue;
}



body{
    background-image: url("../resource/paper_w.jpg");
}

/* 表單標題 */
.form-topic{
    margin: 1.25rem 3.25rem;
    background-color: #ffffff;
    box-shadow: 2px #d9e8e9;
}
.topic-column, .edit-column{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1.25rem;
    border-bottom: 1px #d4d4d4 solid;
}
.topic-column .title, .edit-column .title{
    flex-shrink: 0;
    width: 8.25rem;
    margin: 0 1.25rem;
    font-size: 1.25rem;
    font-weight: bolder;
    text-align: left ;
}
.topic-column .showModifyWindowButton, .edit-column .showModifyWindowButton{
    width: 100%;
    text-align: right;
    color: #949494;
}

/* 修改表單 */
.modify-column{
    padding: 0.5rem 1.25rem;
}
.question-and-answer{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0.625rem auto;
}
.question-and-answer .question{
    flex-shrink: 0;
    width: 6.25rem;
    margin: 0 1.25rem;
    font-size: 1.25rem;
    text-align: left ;
}
.question-and-answer .answerblock{
    width: 100%;
}
.question-and-answer .answerblock .answer-item{
    margin: 0 0.625rem;
}
.question-and-answer input[type="text"], .question-and-answer .combobox, .question-and-answer textarea, .question-and-answer .answer-display{
    width: 100%;
    height: 100%;
    background-color: #ececec;
    border-radius: 0.25rem;
    border: 2px #d9e8e9 solid;
}
.question-and-answer input[type="text"]:focus, .question-and-answer .combobox:focus, .question-and-answer textarea:focus,  .question-and-answer .answer-display:focus{
    border: 3px #fcbc69 solid;
}




.button-block{
    justify-content: center;
    margin: 1.25rem 0;
}
.button-block span{
    background-color: #fcbc69;
    font-size: 1.5rem;
    margin: 0 4.25rem;
    padding: 0.25rem 1.25rem;
}








.fix-center-window{
    position: fixed;
    margin-left: -25rem;
    margin-top: -15rem;
    background-color: wheat;
    width: 50rem;
    height: 30rem;
    top: 50%;
    left: 50%;
}
.fix-center-window > .container{
    display: flex;
    flex-flow: column nowrap;
    height:inherit;
    padding: 1.25rem;
}
.fix-center-window .display-block{
    flex-basis: 24rem;
    background-color: royalblue;
}
.fix-center-window .button-block{
    flex-basis: 6rem;
    padding: 0 auto;
}
.fix-center-window .button-block > .container{
    height: 100%;
    padding: 1.15rem 10rem;
}
.fix-center-window .button-block .button{
    height: 100%;
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 2.35rem;
}
.tag{
    margin: 9px 19px;
    padding: 2px 16px;
    background-color: silver;
}
.tag-selected{
    background-color: slategray;
}




.vertically-center{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.vertically-center .flex-row-item{
    flex-shrink: 1;
    margin-right: 1.5rem;
}
.vertically-center .flex-row-item:last-child{
    margin: 0;
}




.align-right{
    text-align: right;
}

.hidden{
    display: none;
}