:root{
    --r-localnav-height: 75px;
    --r-localnav-stacked-height: 66px;

    --r-xl-viewport-width: 1176px;
    --r-l-viewport-width: 976px;
    --r-m-viewport-width: 756px;
    --r-s-viewport-width: 564px;
    --r-xs-viewport-width: 300px;
}

body{
    background-image: url("../resource/paper_w.jpg");
}
header{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: var(--r-localnav-height);
}
header nav{
    margin-right: auto;
}
nav li ul{
    display: none;
}
#menu-control{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
#menu-control:checked ~ header nav{
    opacity: 1;
}

@media(max-width: 575.99px){
    header .logo{
        margin: 0 auto 0 10px;
        font-size: 40px;
        font-weight: 600;
    }
    header label{
        order: 1;
        position: relative;
        margin: 0 10px;
        font-size: 30px;
    }
    header .login-button{
        margin-right: 10px;
    }
    header nav{
        position: absolute;
        top: var(--r-localnav-height);
        width: 100%;
        height: calc(100vh - var(--r-localnav-height));
        opacity: 0;
        background-color: #03020e;
        transition: .5s;
    }
    nav > ul{
        padding: 0 10px;
        font-size: 30px;
    }
    nav li > ul{
        border-top: 1px solid #121214;
        border-bottom: 1px solid #121214;
        font-size: 24px;
        background-color: #070611;
    }
    nav ul li + li{
        padding-top: 5px;
    }
    nav li:hover > ul{
        display: block;
    }
    nav a{
        color: white;
    }
}
@media(min-width: 576px) and (max-width: 767.99px){
    nav{
        max-width: var(--r-s-viewport-width);
    }
    nav .logo{
        margin-right: 20px;
        font-size: 40px;
        font-weight: 600;
    }
    nav #main-nav{
        display: none;
    }
    nav #user-nav >li{
        padding: 0 0.325rem;
        font-size: 3.25rem;
    }
    nav .login_button a{
        font-size: 1.75rem;
    }
    nav .toggle_button{
        padding-left: 2.125rem;
        font-size: 3.25rem;
    }
}
@media(min-width: 768px) and (max-width: 991.99px){
    nav{
        max-width: var(--r-m-viewport-width);
    }
    nav .logo{
        margin-right: 20px;
        font-size: 40px;
        font-weight: 600;
    }
    nav #main-nav{
        display: none;
    }
    nav #user-nav li{
        margin-left: 20px;
        font-size: 30px;
        font-weight: 400;
    }
    nav .toggle_button{
        font-size: 30px;
        margin-left: 20px;
    }
}
@media(min-width: 992px) and (max-width: 1199.99px){
    nav{
        max-width: var(--r-l-viewport-width);
    }
    nav .logo{
        margin-right: 40px;
        font-size: 50px;
        font-weight: 600;
    }
    nav #main-nav > li{
        margin-right: 20px;
        font-size: 20px;
        font-weight: 400;
    }
    nav #user-nav li{
        margin-left: 30px;
        font-size: 20px;
        font-weight: 400;
    }
    nav .toggle_button{
        display: none;
    }
}
@media(min-width: 1200px){
    header .logo{
        margin: 0 20px;
        font-size: 40px;
        font-weight: 600;
    }
    header label{
        display: none;
    }
    header .login-button{
        margin-right: 20px;
    }
    /* header nav{
        margin-right: auto;
        width: auto;      
    } */
    nav > ul{
        display: flex;
        align-items: center;
    }
    /* header nav ul{
        display: flex;
    } */
    /* nav a{
        color: black;
    } */
}

section{
    background: url(../resource/homepage_mobile.jpg);
    background-size: cover;
}
section .container{
    padding-top: var(--r-localnav-height);
    min-height: 100vh;
}
